/* styles.css */
$primary-color: #339af0;
$main-text-color: #f1f3f5;
$gray-main: #868e96;
$secondary-color: #07233b;
$font-family: "Lexend Deca", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0;
}

@mixin container-size {
  margin: 0 auto;
  max-width: 120rem;
}

.page-container {
  overflow-x: hidden;
}

@mixin link-style {
  color: $primary-color;
  text-decoration: none;
  span {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0rem;
    transition: all 0.5s;
  }
}

.heading-primary {
  font-size: 4.8rem;
}

.text-desc {
  font-size: 1.8rem;
}

.link {
  font-size: 1.8rem;
}

body {
  font-family: "Lexend Deca", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

.nav-container {
  @include container-size();

  .links .nav-btn:last-child {
    background-color: rgba(118, 118, 178, 0.4);

    &:active{
    background-color: rgba(118, 118, 178, 0.4);
    }

    &:hover{
    background-color: rgba(118, 118, 178, 0.6);
    }

  }

  .links{
        .nav-link:nth-child(2) a{
      color: red;
    }
  }
}

/* NAV */

.nav {
  margin-top: 3.2rem;

  .nav-brand .links .nav-btn{
    padding-left: 3.2rem ;
    padding-right: 3.2rem ;
  }
}

.nav-link{
  text-decoration: underline;

  &:last-child{
    text-decoration: none;
  }
}

.home-link{
  text-decoration: none;

  &:active{
    color: $secondary-color;
  }
}

/* CARDS */



.cards {
  margin-top: 8.4rem;
}

.cards-text {
  @include container-size();

  h1 {
    font-size: 5.4rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1.6rem;
  }
}

.cards-container {
  @include container-size();

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.2rem;
  column-gap: 3.2rem;
  margin-bottom: 6.4rem;
  margin-top: 4.8rem;
  .card {
    transition: transform 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    color: #07233b;
    &:hover {
      transform: translateY(-10px); /* Move up by 10px on hover */
    }
    .card-img {
      border-radius: 0.8rem;
      width: 100%;
    }

    .card-header,
    .card-description {
      padding-left: 1.6rem;
    }

    .card-header {
      font-size: 2.4rem;
      margin-top: 1.6rem;
    }

    .card-description {
      font-size: 1.6rem;
      margin-top: 1.6rem;
    }
    .card-author {
      display: flex;
      align-items: center;
      gap: 3.2rem;
      padding-left: 1.6rem;
      margin-top: 4.8rem;

      .author-name-date {
        font-size: 1.6rem;
      }
    }

    .author {
      margin-top: 3.2rem;
    }

    .author-img-container {
      width: 4.8rem;

      .author-img {
        border-radius: 0%;
        width: 100%;
        height: 100%;
      }
    }
  }
}



@mixin container-size {
  margin: 0 auto;
  max-width: 120rem;
}

/* under 1840px */
@media (max-width: 115em) {

  .slider-controls-box {
    font-size: 3.6rem;
    position: absolute;
    transform: translate(150rem, 0);
    margin-top: 2.4rem;
  }

  .slider {
    padding-right: 25rem;
    margin-right: -80rem !important;
  }

  .testimonials-container .slider .card {
    flex-basis: 30rem !important;
  }
}

/* under 1532px */
@media (max-width: 95.75em) {
  .slider-controls-box {
    font-size: 3.6rem;
    position: absolute;
    transform: translate(120rem, 0);
    margin-top: 2.4rem;
  }

  .slider {
    margin-right: -58rem !important;
  }

  .testimonials-container .slider .card {
    flex-basis: 30rem !important;
  }

  .footer-brand {
    padding-top: 6rem;
  }
}

/* under 1202px */
@media (max-width: 75.125em) {
  .slider-controls-box {
    font-size: 3.6rem;
    position: absolute;
    transform: translate(90rem, 0);
    margin-top: 2.4rem;
  }

  .slider {
    margin-right: -58rem !important;
  }

  .testimonials-container .slider .card {
    flex-basis: 23rem !important;
  }

  .testimonials-container .slider .card .review {
    flex-basis: 27rem !important;
    font-size: 1.6rem;
  }

  .hero-container {
    .hero-text {
      width: 50rem;
    }

    .hero-description {
      width: 50rem;
    }

    .email {
      width: 50rem;
    }
  }

  .hero-container {
    .hero-text-container h2 {
      font-size: 3.2rem;
    }
  }

  .features-text {
    margin-right: 3.2rem;
  }

  .features-text h1 {
    font-size: 4rem !important;
  }

  .chats-container {
    padding-left: 3.2rem;

    .img-container {
      padding-top: 6rem;
      width: 110%;
    }

    .chats-text {
      padding-top: 6rem;
      .text-desc {
        font-size: 1.6rem;
      }
    }
  }
  .footer-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .footer-brand {
      grid-column: 1/-1;

      .footer-desc {
        width: 20%;
      }
    }

    .copy {
      position: absolute;
      transform: translate(10rem, 35rem);
    }

    .footer-email {
      margin-bottom: 4rem;
    }
  }
}

/* under 980px */

@media (max-width: 61.25em) {
  .slider-controls-box {
    font-size: 3rem;
    position: absolute;
    transform: translate(65rem, 0);
    margin-top: 2.4rem;
  }

  .testimonials {
    padding-left: 4.8rem;

    .testimonials-container .slider .card {
      flex-basis: 20rem !important;
    }
  }

  .chats-container {
    padding-bottom: 6rem;
    .chats-text {
      padding-top: 4.8rem;

      .heading-primary {
        font-size: 4rem;
        width: 100%;
      }
      .text-desc {
        font-size: 1.6rem;
        margin-top: 3.2rem;
      }
    }

    .chats-and-stats {
      margin-bottom: 1.6rem;
    }
  }
  .features-container .features-text h1 {
    font-size: 3.2rem;
    padding-right: 4rem;
  }
}

/* under 864px */

@media (max-width: 54em) {
  .testimonials .testimonials-container .slider {
    gap: 2rem;
  }

  .features-container .features-text h1 {
    font-size: 2.4rem !important;
  }

  .features-container .features-text p {
    font-size: 1.6rem !important;
  }
}


/* under 778px */

@media(max-width: 48.625em){
  .nav-brand {
  .links .nav-link{
    font-size: 1.6rem;
  }

  .brand{
    font-size: 3.6rem;
  }

}
}



/* under 699px */

@media (max-width: 43.6875em) {


  .cards-container{
    grid-template-columns: repeat(2,1fr);
  }
  .chats-and-stats .chats-container .chats-text .heading-primary {
    font-size: 3rem;
  }

  .testimonials-container {
    max-width: 150rem;
  }

  .testimonials .testimonials-container .slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .card {
      width: 50rem;
      .review,
      .person {
        width: 80%;
        font-size: 1.6rem;
      }
    }
  }

  .slider-controls-box {
    font-size: 5rem;
    transform: translate(30rem, 0);
  }

  .features-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;

    .features-img {
      display: flex;
      justify-content: center;
      img {
        width: 50%;
      }
    }
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-container .copy {
    position: absolute;
    transform: translate(6rem, 41rem);
  }

  .nav-brand{
    display: grid;
    grid-template-columns: 1fr;
  }

 .nav-brand .nav {
    display: none;
  }

 .nav-brand .mobile-nav {
    display: block;
  }

  .mobile-links{
    background-color: rgba(170, 170, 219, 0.932) !important;
    width: 100%;
    list-style:none;
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
  }

  .mobile-nav-link{
    font-size: 1.6rem;
  }
 
}

.display-mobile{
  display: block;
}

.hide-mobile{
  display: none;
}
