/*********************** HERO **********************/
/* styles.css */
/* Your existing CSS code here */
/* under 1840px */
@media (max-width: 115em) {
  .slider-controls-box {
    font-size: 3.6rem;
    position: absolute;
    transform: translate(150rem, 0);
    margin-top: 2.4rem;
  }
  .slider {
    padding-right: 25rem;
    margin-right: -80rem !important;
  }
  .testimonials-container .slider .card {
    flex-basis: 30rem !important;
  }
}
/* under 1532px */
@media (max-width: 95.75em) {
  .slider-controls-box {
    font-size: 3.6rem;
    position: absolute;
    transform: translate(120rem, 0);
    margin-top: 2.4rem;
  }
  .slider {
    margin-right: -58rem !important;
  }
  .testimonials-container .slider .card {
    flex-basis: 30rem !important;
  }
  .footer-brand {
    padding-top: 6rem;
  }
}
/* under 1202px */
@media (max-width: 75.125em) {
  .slider-controls-box {
    font-size: 3.6rem;
    position: absolute;
    transform: translate(90rem, 0);
    margin-top: 2.4rem;
  }
  .slider {
    margin-right: -58rem !important;
  }
  .testimonials-container .slider .card {
    flex-basis: 23rem !important;
  }
  .testimonials-container .slider .card .review {
    flex-basis: 27rem !important;
    font-size: 1.6rem;
  }
  .hero-container .hero-text {
    width: 50rem;
  }
  .hero-container .hero-description {
    width: 50rem;
  }
  .hero-container .email {
    width: 50rem;
  }
  .hero-container .hero-text-container h2 {
    font-size: 3.2rem;
  }
  .features-text {
    margin-right: 3.2rem;
  }
  .features-text h1 {
    font-size: 4rem !important;
  }
  .chats-container {
    padding-left: 3.2rem;
  }
  .chats-container .img-container {
    padding-top: 6rem;
    width: 110%;
  }
  .chats-container .chats-text {
    padding-top: 6rem;
  }
  .chats-container .chats-text .text-desc {
    font-size: 1.6rem;
  }
  .footer-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-container .footer-brand {
    grid-column: 1/-1;
  }
  .footer-container .footer-brand .footer-desc {
    width: 20%;
  }
  .footer-container .copy {
    position: absolute;
    transform: translate(10rem, 35rem);
  }
  .footer-container .footer-email {
    margin-bottom: 4rem;
  }
}
/* under 980px */
@media (max-width: 61.25em) {
  .slider-controls-box {
    font-size: 3rem;
    position: absolute;
    transform: translate(65rem, 0);
    margin-top: 2.4rem;
  }
  .testimonials {
    padding-left: 4.8rem;
  }
  .testimonials .testimonials-container .slider .card {
    flex-basis: 20rem !important;
  }
  .chats-container {
    padding-bottom: 6rem;
  }
  .chats-container .chats-text {
    padding-top: 4.8rem;
  }
  .chats-container .chats-text .heading-primary {
    font-size: 4rem;
    width: 100%;
  }
  .chats-container .chats-text .text-desc {
    font-size: 1.6rem;
    margin-top: 3.2rem;
  }
  .chats-container .chats-and-stats {
    margin-bottom: 1.6rem;
  }
  .features-container .features-text h1 {
    font-size: 3.2rem;
    padding-right: 4rem;
  }
}
/* under 864px */
@media (max-width: 54em) {
  .testimonials .testimonials-container .slider {
    gap: 2rem;
  }
  .features-container .features-text h1 {
    font-size: 2.4rem !important;
  }
  .features-container .features-text p {
    font-size: 1.6rem !important;
  }
}
/* under 699px */
@media (max-width: 43.6875em) {
  .chats-and-stats .chats-container .chats-text .heading-primary {
    font-size: 3rem;
  }
  .testimonials-container {
    max-width: 150rem;
  }
  .testimonials .testimonials-container .slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonials .testimonials-container .slider .card {
    width: 50rem;
  }
  .testimonials .testimonials-container .slider .card .review,
  .testimonials .testimonials-container .slider .card .person {
    width: 80%;
    font-size: 1.6rem;
  }
  .slider-controls-box {
    font-size: 5rem;
    transform: translate(30rem, 0);
  }
  .features-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;
  }
  .features-container .features-img {
    display: flex;
    justify-content: center;
  }
  .features-container .features-img img {
    width: 50%;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-container .copy {
    position: absolute;
    transform: translate(6rem, 38rem);
  }
}/*# sourceMappingURL=queries.css.map */